<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
</head>
<body>
    <form action="/reset_password" method="post">
        <h4><%=error %></h4><br>
        <input type="text" name="username" placeholder="Provide your username" required/><br><br>
        <input type="password" name="current_password" placeholder="enter current password" required/><br><br>
        <input type="password" name="new_password" placeholder="enter new password" required/><br><br>
        <input type="password" name="new_password2" placeholder="confirm new password" required/><br><br>
        <input type="submit" value="confirm" id="resetpassword">
    </form>
    <script>
    </script>
</body>
</html>